.photo {
    width: 70px;
    height: auto;
}

.userBlock {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.searchBtns {
    margin-left: 1rem;
}

@media (max-width: 575px) {
    .searchBtns {
        margin-left: 0;
        padding-top: 1rem;
    }
}