.dialogs {
    display: grid;
    /* grid-template-columns: 2fr 10fr; */
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: indigo;
}

.notReadyNotif {
    background-color: rgb(216, 71, 71);
    color: #fff;
    padding: 1rem;
    border-radius: 12px;
}

